body {
	background-image: url("/images/bg.jpg");
	height:100%;
	background-size:cover;
}
.container {
	text-align: center;
}
.home {
	padding-top:50px;
}
.subtitle {
	    color: #FFF;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 22px;
    padding-top: 30px;
    line-height: 40px;
}
.home-text {
	    width: 400px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.4);
    margin-bottom: 20px;
    font-family: Lato;
    padding-left: 15px;
    font-size: 18px;
    font-style: italic;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
}
.home-text::-webkit-input-placeholder {
   color: rgba(255,255,255,0.7);
}

.home-text:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.7);
}

.home-text::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.7);
}

.home-text:-ms-input-placeholder {  
   color: rgba(255,255,255,0.7);
}
.home-form {
	margin-top:30px;
}
.home-btn {
	width: 400px;
    border-radius: 4px;
    border: none;
    height: 40px;
    color: #FF5486;
    background-color: #FFF;
    font-family: Brandon Grotesque;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
.home-btn:hover {
	background-color:#FF5486;
	color:#FFF;
}
.glyphicon-search {
	padding-left:5px;
	padding-top:2px;
}
/***********************************************************************
/***********************************************************************
MAIN
***********************************************************************/
.main h1 {
	color: #FFF;
    font-family: Brandon Grotesque;
    line-height: 50px;
    font-weight: 300;
    font-size: 34px;
    display:none;
}
.main h1 strong {
	text-transform: uppercase;
}
.main {
	padding-top:30px;
}
			path {
				stroke: steelblue;
				stroke-width: 1;
				fill: none;
			}
			
			.axis {
			  shape-rendering: crispEdges;
			}

			.x.axis line {
			  stroke: lightgrey;
			}

			.x.axis .minor {
			  stroke-opacity: .5;
			}

			.x.axis path {
			  display: none;
			}

			.y.axis line, .y.axis path {
			  fill: none;
			  stroke: #000;
			}
#ifrm {
	margin-top: 30px;
    width: 800px;
    height: 500px;
    margin-bottom: 50px;
}

#ifrm body {
	    text-align: center;
    margin: 0 auto 0;
    background: none !important;
}